@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 7% 3%;

    --card: 0 0% 100%;
    --card-foreground: 240 7% 3%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 7% 3%;

    --primary: 29 71% 69%;
    --primary-foreground: 356 100% 97%;

    --secondary: 240 4% 95%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 4% 95%;
    --muted-foreground: 240 3% 46%;

    --accent: 240 4% 95%;
    --accent-foreground: 240 6% 10%;

    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 29 100% 81%;

    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
